* {
    box-sizing: border-box;
  }
      
  ul,
  li {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  /* .tab {
    width: 500px;
    max-width: 100%;
    margin: auto;
  } */
  
  .tab-menu {
    display: flex;
  }
  
  .tab-item {
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    
    /* widthを同じ比率で分けあう */
    flex-grow: 1;
  
    /* 下線以外をつける */
    border-top: 1px solid skyblue;
    border-left: 1px solid skyblue;
    border-right: 1px solid skyblue;
  }

  .tab-item:not(:first-child) {
    border-left: none;
  }
  
  /* アクティブなタブはデザインを変えて選択中であることが解るようにする */
  .tab-item.active {
    background: red;
    color: white;
  }
  
  .tab-content-box {
    height: 200px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    border: 1px solid skyblue;
  }
      
  /* コンテンツは原則非表示 */
  .tab-content {
    display: none;
    font-size: 40px;
  }
  
  /* .showがついたコンテンツのみ表示 */
  .tab-content.show {
    display: block;
  }
