* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.tab-menu {
  display: flex;
}

.tab-item {
  text-align: center;
  padding: 10px 0;
  cursor: pointer;

  /* widthを同じ比率で分けあう */
  flex-grow: 1;

  /* 下線以外をつける */
  border-top: 1px solid skyblue;
  border-left: 1px solid skyblue;
  border-right: 1px solid skyblue;
}

.tab-item:not(:first-child) {
  border-left: none;
}

/* アクティブなタブはデザインを変えて選択中であることが解るようにする */
.tab-item.active {
  background: red;
  color: white;
}

.tab-content-box {
  padding: 20px 40px; 
  border: 1px solid skyblue;
}

/* コンテンツは原則非表示 */
.tab-content {
  display: none;
  width: 100%;
}

/* .showがついたコンテンツのみ表示 */
.tab-content.show {
  display: block;
}


.comment {
  display: inline;
}

.fa-bell {
  display: none;
}

/* new がついたアイコンを表示 */
.fa-bell.new {
  display: inline;
}

.picture-container img {
  width: 150px;
  height: 150px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles-container {
  flex: 1; 
}




